<% content_for :title, 'People' %>
<%= javascript_include_tag 'jquery.dataTables' %>
<script type="text/javascript">
  function toggleStaff()
  {
    if ($('#staff_checkbox').is(':checked')) {
      $(".staff").show();
    } else {
      $(".staff").hide();
    }
    $("#filterBoxOne").trigger("keyup");
  }

  function updateImage(uri,label)
  {
    $('image_box').show();
   $('#image_box_image').attr("src", uri);

   $('#image_box_label').text(label);
  }

  function hideImage()
  {
    $('image_box').hide();
  }
 </script>

<h1>Listing people</h1>
<div class="right_link" ><%= link_to 'See phone book', :action=>'phone_book' %><br/><%= link_to 'See photo book', :action=>'photo_book' %></div>
  <label>Show Staff</label><input type="checkbox" id="staff_checkbox" onchange="toggleStaff()" value="1" checked="checked" />
</div>

<div id="image_box">
  <%= image_tag("/images/mascot.jpg", :width=>"150", :alt=>"Temporary Picture", :id=>"image_box_image")%><%= image_tag("/images/tablesorter/cross.png", :width=>"16", :height=>"16", :alt=>"Close Me", :style=>"float:right;cursor:pointer", :id=>"close_image_box") %>
  <div id='image_box_label'></div>
</div>
<!-- Hide the image when page loads -->
<script>
  hideImage();
</script>

<table id="people_table" class="tablesorter">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Icons</th>
    <th>Graduation year</th>
    <th>Graduate program</th>
    <th>Graduate track</th>
    <th></th>
    <th></th>
    <th style="display:none"></th>
    <th style="display:none"></th>
    <th style="display:none"></th>
    <th style="display:none"></th>
  </tr>
</thead>
<tbody>
<% for person in @people %>

<tr class="<%if person.is_student %>student<% end %> <% if person.is_staff %>staff<%end%>"  onmouseover="updateImage('<%= image_path(person.image_uri) %>','<%=person.human_name%>')"
    onmouseout="hideImage();">
    <td><%= twiki_user_link(person.twiki_name, person.first_name) %></td>
    <td><%= twiki_user_link(person.twiki_name, person.last_name) %></td>    
    <td><a href='http://info.sv.cmu.edu/twiki/bin/view/Main/<%= person.twiki_name %>' target='_top'><%= image_tag('/images/twiki.gif', :width=>'16', :height=>'16', :border=>"0", :alt=>"My TWiki page", :title=>"My TWiki page") %></a>
        <% if person.is_adobe_connect_host %><%= image_tag("/images/connect.gif", :width=>"16", :height=>"16", :alt=>"Adobe Connect Host", :title=>"I am Adobe Connect Host") %><% end %>
        <% if current_user.is_staff? || current_user.is_admin? %>
        <%= link_to image_tag("/images/my_teams2.gif", :width=>"16", :height=>"16", :alt=>"My Teams", :title=>"My Teams"), my_teams_path(person.id) %>
        <% end %>
    </td>
    <td><%=h person.graduation_year %></td>
    <td><%=h person.masters_program %></td>
    <td><%=h person.masters_track %></td>
    <td><%= link_to 'Show', person %></td>
<% if current_user && current_user.is_staff? %>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>
<!--
<% if current_user && current_user.is_admin? %>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>
-->
  <!-- TODO(vibhor):  Discuss with team if this should be drop-down instead of user typing it in? -->
  <td style="display:none"><%= person.is_part_time? ? 'part time' : 'full time' %></td>
  <!-- TODO(vibhor):  this should be drop-down as well? -->
  <td style="display:none"><%= person.local_near_remote %></td>
  <td style="display:none">work:<%=h person.organization_name %></td>
  <td style="display:none">city:<%=h person.work_city %></td>
  </tr>
<% end %>
</tbody>
</table>
<script type="text/javascript">
  jQuery(document).ready(function($) {
	  $('#people_table').dataTable({bStateSave: true, sPaginationType: "full_numbers"});
  });
</script>

<br />

<% if current_user && (current_user.is_admin? || current_user.is_staff?) %>
<%= link_to 'New person', new_person_path %>
<% end %>
