<% if not course.nil?
  @deliverable_submission.course = course
end %>
<% if not task_number.nil?
  @deliverable_submission.task_number = task_number
end %>

<% form_for @deliverable_submission,  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :course_id %>:&nbsp;
    <% if @deliverable_submission.course.nil? %>
      <%= f.collection_select(:course_id, Course.find(:all), :id, :name,
        {:prompt => 'Select course'}) %>
    <% else %>
       <%= course.name %>
    <% end %>
  </p>
  <p>
    <%= f.check_box :is_individual, :onchange => "toggleTeamSelector(this);" %>
    <%= f.label 'Individual deliverable' %>
 </p>
  <!-- TODO(vibhor): The selected course should automatically select the team. -->
  <p id="team-selector">
    <%= f.label 'Team' %>&nbsp;
    <%= f.collection_select(:team_id, find_current_semester_teams, :id, :name,
      {:prompt => 'Select team'}) %>
  </p>
  <p>
    <%= f.label :task_number %>:&nbsp;&nbsp;
    <% if @deliverable_submission.task_number.nil? %>
      <%= f.text_field :task_number %>
    <% else %>
      <%= task_number %>
   <% end %>

  </p>
  <p>
    <%= f.label 'Upload file' %>&nbsp;
    <%= f.file_field :deliverable %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
<script>
  <!--
  // Hide/show team selector depending on the state of is_individual checkbox.
  function toggleTeamSelector(checkBox) {
    $('team-selector').style['display'] = checkBox.checked ? 'none' : 'block';
  }
  -->
</script>
