<% form_for @deliverable_submission,  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <!-- TODO(vibhor): The selection of team name should be dependent on 2 factors:
       1. This is not an individual submission.
       2. The selected course should automatically select the team.
  -->
  <p>
    <%= f.label 'Team' %>&nbsp;
    <%= f.collection_select(:team_id, find_current_semester_teams, :id, :name,
      {:prompt => 'Select team'}) %>
  </p>

  <p>
    <%= f.label :course_id %>&nbsp;
    <%= f.collection_select(:course_id, Course.find(:all), :id, :name,
      {:prompt => 'Select course'}) %>
  </p>
  <p>
    <%= f.label :task_number %><br />
    <%= f.text_field :task_number %>
  </p>
  <p>
    <%= f.label 'Upload file' %>&nbsp;
    <%= f.file_field :deliverable %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
