<h1>Listing deliverable_submissions</h1>

<table>
  <tr>
    <th>Submission date</th>
    <th>Submitter</th>
    <th>Course</th>
    <th>Task number</th>
    <th>Comments</th>
    <th>Deliverable file name</th>
  </tr>

<% @deliverable_submissions.each do |deliverable_submission| %>
  <tr style="text-align:center">
    <td>  <%=h deliverable_submission.submission_date.getlocal.strftime("%a %b %d %Y, %I:%M %p") %>
</td>
    <td><%=h deliverable_submission.person.human_name %></td>
    <td><%=h deliverable_submission.course.name %></td>
    <td><%=h deliverable_submission.task_number %></td>
    <td><%=h deliverable_submission.comments %></td>
    <td><%= link_to h(deliverable_submission.deliverable_file_name), deliverable_submission.deliverable.url %></td>
    <td><%= link_to 'Show', deliverable_submission %></td>
    <td><%= link_to 'Edit', edit_deliverable_submission_path(deliverable_submission) %></td>
    <td><%= link_to 'Destroy', deliverable_submission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deliverable_submission', new_deliverable_submission_path %>