<p>
  <b>Submission date:</b>
  <%=h @deliverable_submission.submission_date %>
</p>

<p>
  <b>Person:</b>
  <%=h @deliverable_submission.person.human_name %>
</p>

<p>
  <b>Course:</b>
  <%=h @deliverable_submission.course.name %>
</p>

<p>
  <b>Task number:</b>
  <%=h @deliverable_submission.task_number %>
</p>

<p>
  <b>Comments:</b>
  <%=h @deliverable_submission.comments %>
</p>

<p>
  <b>Deliverable file name:</b>
  <%=h @deliverable_submission.deliverable_file_name %>
</p>

<%= link_to 'Edit', edit_deliverable_submission_path(@deliverable_submission) %> |
<%= link_to 'Back', deliverable_submissions_path %>